/* styles/About.css */
.about {
    padding: 90px 50px;
    background-color: black;
  }
  
  .about h2 {
    font-size: 2.5em;
    color: white;
  }
  
  .about p {
    font-size: 1.2em;
    line-height: 1.6;
    color: white;
  }
  