/* Contact Section Styling */
.contact-section {
  padding: 20px 200px; 
}

/* Main Heading */
.contact-main-heading {
  text-align: center;
  font-size: 40px;
}

/* Sub Heading */
.contact-sub-heading {
  font-size: 30px; 
  font-family: "Sora", sans-serif;
  font-weight: 600;
  text-align: center; 
  margin-bottom: 10px;
}

/* Contact Details Container */
.contact-details {
  flex-direction: column;
  align-items: center; 
}

/* Individual Contact Item */
.contact-item {
  margin: 10px 0; 
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Gmail Sub Heading */
.contact-gmail-sub-heading {
  font-size: 15px; 
  font-family: "Sora", sans-serif;
  font-weight: 400;
}

/* Contact Link Styling */
.contact-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  justify-content: center;
  transition: color 0.3s ease;
}

/* Hover Effect for Links */
.contact-link:hover {
  color: #FFBB1A; 
}

/* Icon Styling */
.contact-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.contact-linkedin-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

/* Remove default margin for link text */
.contact-link p {
  margin: 0;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .contact-section {
    padding: 10px 20px; 
  }

  .contact-main-heading {
    font-size: 32px;
    font-weight: 600;
  }

  .contact-sub-heading {
    font-size: 24px; 
  }

  .contact-details {
    align-items: center;
  }

  .contact-item {
    margin: 15px 0; 
  }

  .contact-link {
    justify-content: center;
    align-items: center;
  }

  .contact-icon {
    margin-bottom: 10px; 
  }

  .contact-gmail-sub-heading {
    font-size: 14px; 
    line-height: 22px;
  }
}

@media (max-width: 375px) {
  .contact-main-heading {
    font-size: 32px; 
  }

  .contact-sub-heading {
    font-size: 20px; 
  }

  .contact-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .contact-gmail-sub-heading {
    font-size: 15px; 
    line-height: 20px;
  }
}
