.contact {
  padding: 20px 200px;
}

.main-heading {
  text-align: center; /* Center the main heading */
  font-size: 36px; /* Increase size for visibility */
  margin-bottom: 20px; /* Add margin below heading */
}

.sub-heading {
  font-size: 30px !important;
  text-align: center !important; 
  margin-bottom: 20px; /* Add margin below sub-heading */
}

.contact-details {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
}

.contact-item {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gmail-sub-heading {
  font-size: 15px;
  font-family: "Sora", sans-serif;
  font-weight: 400;
  line-height: 26px;
}

.contact-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  justify-content: center; /* Center content */
  transition: color 0.3s ease; /* Add transition for hover effect */
}

.contact-link:hover {
  color: #FFBB1A; /* Change color on hover */
}

.contact-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.linkedin-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.contact-link p {
  margin: 0;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .contact {
    padding: 10px 20px; 
  }

  .main-heading {
    font-size: 28px; /* Adjust main heading size for mobile */
  }

  .sub-heading {
    font-size: 24px !important; /* Reduce subheading size for mobile */
  }

  .contact-details {
    align-items: center; 
  }

  .contact-item {
    margin: 15px 0; /* Add spacing between items */
  }

  .contact-link {
    justify-content: center; 
    /* flex-direction: column;  */
    align-items: center;
  }

  .contact-icon {
    margin-bottom: 10px; /* Add spacing below the icon */
  }

  .gmail-sub-heading {
    font-size: 14px; /* Adjust font size for mobile */
    line-height: 22px;
  }
}
