/* styles/Contact.css */
.contact {
    padding: 40px;
    background-color: black;
  }
  
  .contact h2 {
    font-size: 2.5em;
    color: white;
  }
  
  .contact p {
    font-size: 1.2em;
    color: white;
  }
  