.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 20px 200px;
  color: white;
  font-family: 'Sora', sans-serif;
}

.footer-left p {
  margin: 0;
}

.footer-left a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.footer-center {
  font-size: 24px;
}

.footer-right {
  display: flex;
  gap: 10px;
}

.footer-icon {
  width: 40px;
  height: 40px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer {
    padding: 20px 30px; /* Reduce padding for small screens */
    flex-direction: row; /* Ensure all items are in one line */
    justify-content: space-between; /* Space between elements */
    padding-bottom: 100px;
  }

  .footer-left {
    flex: 1; /* Allow left section to take available space */
  }

  .footer-center {
    flex: 0; /* Prevent center from growing */
    font-size: 18px; /* Adjust font size */
    margin: 0 10px; /* Add some margin for spacing */
  }

  .footer-right {
    flex: 0; /* Prevent right from growing */
  }

  .footer-icon {
    width: 30px; /* Adjust icon size */
    height: 30px;
  }
}
