.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 20px 200px;
  color: white;
  font-family: 'Sora', sans-serif;
}

.footer-left p {
  margin: 0;
}

.footer-left a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.footer-center {
  font-size: 24px;
}

.footer-right {
  display: flex;
  gap: 10px;
}

.footer-icon {
  width: 40px;
  height: 40px;
}

