/* styles/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    backdrop-filter: blur(10px); 
    border-radius: 100px; 
    margin: 20px 20px; 
    position: fixed; 
    width: 90%;
    height: 80px; 
    border: 1px solid white; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    z-index: 1000; 
}


.left {
    flex: 1;
}

.center {
    flex: 1;
    text-align: center;
}

.right {
    flex: 1;
    text-align: right; 
}

.header p {
    margin: 0 15px;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.mode-toggle {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none; 
    /* background-color: rgba(255, 255, 255, 0.2);  */
    border-radius: 5px; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
}

nav li {
    margin: 0 15px; /* Spacing between navigation items */
}
nav li {
    margin: 0 15px;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 19px;
    cursor: pointer;
    transition: color 0.3s;
}

nav li:hover {
    color: #f0a500; /* Change to any hover color you'd like */
}
