/* Container for the tech stacks */
.condainer {
    margin: 0 100px;
    overflow: hidden;
}

.main-heading {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
}

/* Media queries for responsiveness */
@media (min-width: 1200px) {
    .condainer {
        margin: 0 200px;
    }

    .main-heading {
        font-size: 2.5rem;
    }
}

/* Medium screens (tablets) */
@media (max-width: 1199px) and (min-width: 768px) {
    .condainer {
        margin: 0 50px;
    }

    .main-heading {
        font-size: 2rem;
        margin-top: 200px;
    }
}

/* Small screens (phones) */
@media (max-width: 767px) {
    .condainer {
        margin: 0 20px;
    }

    .main-heading {
        font-size: 1.5rem;
        margin-top: 200px;
    }

    img {
        width: 100%;
    }
}