.works-container {
    padding: 20px;
    text-align: center;
    margin: 30px;
}

.works-heading {
    font-size: 2rem;
    margin-bottom: 20px;
}
.git-icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    vertical-align: middle;
}
.work-item {
    border: 1px solid ;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 500px;
}

.work-image-container {
    position: relative;
    width: 100% !important;
}

.work-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    padding: 2%;
    background-color: #f0f0f0;
}

.work-badge {
    position: absolute;
    top: 10px;
    right: 5%;
    padding: 5px 15px;
    background-color: #b366ff;
    color: #fff;
    font-size: 14px;
    border-radius: 20px;
    text-transform: uppercase;
}

.badge-web {
    background-color: #4caf50;
}

.badge-mobile {
    background-color: #2196f3;
}

.work-title {
    font-size: 20px;
    margin: 10px 0;
}

.work-description {
    font-size: 15px;
    margin-bottom: 20px;
    overflow: hidden;
}
.work-technology {
    font-size: 15px;
    margin-bottom: 20px;
    overflow: hidden;
}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto; 
}

.work-button {
    background-color: #ffbb1a;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
    font-size: 15px;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 5px; 
    width: 45%; 
}

.work-button:hover {
    background-color: #e6a617;
}

.git-icon {
    width: 30px;
    height: 30px;
    margin-right: 0px;
    vertical-align: middle;
}